
.serviceMain.c-section#event
  section.ivy.js-animation
    h2.c-section__Title.pt-25vw.c-subSection イベント
    img.c-section__Title-Img(src="assets/images/g-line.svg" alt="")
    p.este__Message 当店では定期的にイベントを開催しています。
      br
      |以下にてメニューをご覧いただけます。

    ul.este__Lists
      -
        const eventData = [
        {
          title:"オカリナ教室",
          img:"head.jpg",
          className: "ocarina",
          desk:"オカリナの演奏家の方からオカリナ演奏を学びます。",
          time:"●日程:第4水曜日15時〜16時30分<br>場所:ジュンコスメハウス2階",
          course:`●参加費用 3,000円　`,
        },
        {
        title:"ヨガ教室",
          img:"sholder.jpg",
          className: "yoga",
          desk:"ヨガ教師の方からヨガを学びます。",
          time:"●日程:毎週火曜日10時〜11時<br>場所:ジュンコスメハウス2階",
          course:`●参加費用 1,000円　`,
        },
        {
          title:"体操教室",
          img:"service_hena.jpg",
          className: "stretch",
          desk:"体操教師の方をお呼びして、体操をします。",
          time:"●日程:第2、4土曜日14時半〜16時<br>場所:ジュンコスメハウス2階",
          course:`●参加費用 3,000円　`,
        },
        ]
      each item in eventData
          li.este__List
            .este__ListInner
              .este__Img(class=`este__Img-${item.className}`)
                h3.este__Title(class=`este__Title-${item.className}`) !{item.title}
              .este__DescBox
                p.este__Desc !{item.desk}
                p.este__Course !{item.time}
                p.este__Course !{item.course}
    a.c-moreButton(href="#contact") ご予約はこちらから
      br
      |(お問い合わせへ)

